<meta property="og:title" content="{{ $.Scratch.Get "Title" }}" />
<meta property="og:description" content="{{ $.Scratch.Get "Summary" }}" />
{{ range first 1 (.Resources.ByType "image") }}
	<meta property="og:image" content="{{ (.Fill ($.Scratch.Get "BootswatchHeaderImageOpenGraphSize")).Permalink }}" />
{{ end }}
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink | absLangURL }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:locale" content="{{ .Lang }}" />
