<div class="relates-posts">
	{{ if .Site.Params.showRelatedPosts }}
		{{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
			{{ $.Scratch.Set "has_related" true }}
		{{ end }}

		{{ if $.Scratch.Get "has_related" }}
			<h2 class="see-also">{{ i18n "seeAlso" }}</h2>
			<ul>
				{{ $num_to_show := .Site.Params.related_content_limit | default 5 }}
				{{ range first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
					<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
				{{ end }}
			</ul>
		{{ end }}
	{{ end }}
</div>


	{{ if ($.Scratch.Get "BootswatchShowTagCloud") }}

	<div class="tag-cloud">
		{{ if ($.Scratch.Get "BootswatchTagCloudShowHeading") }}<h2 class="tag-cloud-title">{{ i18n "tagsHeading" }}</h2>{{- end }}
		<p><a href="{{ "tags/" | relLangURL }}">{{ i18n "tagsAll" }}</p></li>
		{{ with $.Site.Taxonomies.tags }}
			{{ $smallestWeight := ($.Scratch.Get "BootswatchTagCloudMinSize") }}
			{{ $largestWeight := ($.Scratch.Get "BootswatchTagCloudMaxSize") }}
			{{ $weightSpread := sub $largestWeight $smallestWeight }}
			{{ $min := len (index .ByCount.Reverse 0).Pages }}
			{{ $max := add (len (index .ByCount 0).Pages) 1 }}
			{{ $spread := sub $max $min }}
			{{ $weightStep := div $weightSpread $spread }}
			<ul class="tag-cloud" role="navigation" aria-label="{{ i18n "tagcloud" }}">
				{{ $limitedTags := .ByCount | first ($.Scratch.Get "BootswatchTagCloudMaxCount") }}
				{{ range $taxonomy := $limitedTags }}
					{{ $currentTagCount := len $taxonomy.Pages }}
					{{ $currentWeight := (add $smallestWeight (mul (sub $currentTagCount $min) $weightStep) ) }}
					{{ $weight := div (sub (math.Log $currentTagCount) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
					{{ $currentWeight := math.Round (add $smallestWeight (mul (sub $largestWeight $smallestWeight) $weight) ) }}
					<li><a data-weight="{{$currentWeight}}" href="{{ "tags/" | relLangURL }}{{ $taxonomy.Name | urlize }}/">{{ $taxonomy.Name }} ({{ $currentTagCount }})</a></li>
				{{ end }}
			</ul>
		{{ end }}
	</div>


	{{- end }}

<div>
	{{ $termtitle := ($.Site.GetPage "categories").Title }}
	<h2>{{ $termtitle }}</h2>
	{{ with .Site.Taxonomies.categories.Alphabetical }}
		<ul role="navigation" aria-label="{{ $termtitle }}">
			{{ range . }}
				<li><a href="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</a></li>
			{{ end }}
		</ul>
	{{ end }}
</div>
