/*
 tag cloud: https://dev.to/alvaromontoro/create-a-tag-cloud-with-html-and-css-1e90
*/

ul.tag-cloud {
	list-style: none;
  padding-left: 0;
	display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
	/* line-height: 2.5rem; */
}

ul.tag-cloud a[data-weight="1"] { --size: 1; }
ul.tag-cloud a[data-weight="2"] { --size: 2; }
ul.tag-cloud a[data-weight="3"] { --size: 3; }
ul.tag-cloud a[data-weight="4"] { --size: 4; }
ul.tag-cloud a[data-weight="5"] { --size: 5; }
ul.tag-cloud a[data-weight="6"] { --size: 6; }
ul.tag-cloud a[data-weight="7"] { --size: 7; }
ul.tag-cloud a[data-weight="8"] { --size: 8; }
ul.tag-cloud a[data-weight="9"] { --size: 9; }

ul.tag-cloud a {
  display: block;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;

	font-size: calc(var(--size) * 0.1rem + 0.5rem);
}

/*
 lightbox
*/
.lb-data .lb-close {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill="white" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>') top right no-repeat;
}
.lb-nav a.lb-prev {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill="white" d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>') 10% 48% no-repeat;
}
.lb-nav a.lb-next {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 0 320 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill="white" d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>') 95% 48% no-repeat;
}
.lb-cancel {
	background: url(/img/loading.gif) no-repeat;
}


/*
	blockquote
	there is a blockquote class in bootswatch but hugo
	does not render a class for a blockquote
*/
blockquote {
	border-left: 1rem solid #eee;
	padding-left: 2rem;
	padding-right: 2rem;
}
