<div class="card mb-3">
  <div class="card-body">
    <h1 class="card-title">{{ $.Scratch.Get "Title" }}</h1>
    {{ if $.Scratch.Get "Subtitle" }}
      <p class="card-subtitle mb-3 lead">{{ $.Scratch.Get "Subtitle" }}</p>
    {{ end }}
    <p class="card-text">
      {{ partial "post/meta.html" . }}
    </p>
  </div>
</div>
