{{ $formattedDate := .Date | time.Format (i18n "dateFormatLong") }}
{{ $formattedLastMod := .Lastmod | time.Format (i18n "dateFormatLong") }}
{{ $isDateEqualLastmod := eq $formattedDate $formattedLastMod }}

{{ $formattedDate | i18n "createdOn" | safeHTML }}
{{ if not $isDateEqualLastmod }}
  {{ $.Scratch.Get "BootswatchMetaSeparator" }}&nbsp;{{ $formattedLastMod | i18n "lastModified" | safeHTML }}
{{ end }}

{{ if ($.Scratch.Get "BootswatchShowReadingTime") }}
  {{ $.Scratch.Get "BootswatchMetaSeparator" }}&nbsp;{{ .ReadingTime | i18n "readTime" | safeHTML }}
{{ end }}

{{ if ($.Scratch.Get "BootswatchShowWordCount") }}
  {{ $.Scratch.Get "BootswatchMetaSeparator" }}&nbsp;{{ .WordCount | i18n "wordCount" | safeHTML }}
{{ end }}

{{ if ($.Scratch.Get "BootswatchShowAuthor") }}
  {{ $.Scratch.Get "BootswatchMetaSeparator" }}&nbsp;{{ cond (isset .Params "author") .Params.author .Site.Author.name | i18n "author" | safeHTML }}
{{ end }}

{{ if .IsTranslated -}}
  {{- $sortedTranslations := sort .Translations "Site.Language.Weight" -}}
  {{- $links := apply $sortedTranslations "partial" "translation_link.html" "." -}}
  {{- $cleanLinks := apply $links "chomp" "." -}}
  {{- $linksOutput := delimit $cleanLinks (i18n "translationsSeparator") -}}
  &nbsp;&bull;&nbsp;{{ i18n "translationsLabel" }}{{ $linksOutput }}
{{- end }}

{{ with .Params.tags }}
  {{ $.Scratch.Get "BootswatchMetaSeparator" }}&nbsp;{{- delimit (apply (apply (sort .) "partial" "post/tag_link" ".") "chomp" ".") ", " | i18n "tags" | safeHTML -}}
{{ end }}

{{ with .Params.categories }}
  {{ $.Scratch.Get "BootswatchMetaSeparator" }}&nbsp;{{- delimit (apply (apply (sort .) "partial" "post/category_link" ".") "chomp" ".") ", " | i18n "categories" | safeHTML -}}
{{ end }}

{{ if isset .Params "imdb" }}
	{{ $.Scratch.Get "BootswatchMetaSeparator" }}&nbsp;<i class='fa-solid fa-film' title='IMDB-Link'></i>&nbsp;<a href="https://www.imdb.com/title/{{ .Params.imdb }}/" target="_blank">IMDB</a>
{{ end }}

{{ if isset .Params "score" }}
	{{ $.Scratch.Get "BootswatchMetaSeparator" }}&nbsp;<i class='fa-regular fa-star' title='Bewertung'></i>&nbsp;{{ .Params.score }}
{{ end }}

{{ if isset .Params "watched" }}
	<br />
	{{ $dates := slice }}
	{{ range .Params.watched }}
		{{ $dates = $dates | append (. | printf "%sT00:00:00Z" | time.Format (i18n "dateFormatLong")) }}
	{{ end }}
	{{ (delimit $dates ", " (i18n "delim-and")) | i18n "watched" | safeHTML }}
{{ end }}

{{ if isset .Params "conclusion" }}
	<br />
	{{ .Params.conclusion | i18n "conclusion" | safeHTML }}
{{ end }}
