<div class="card border-primary mb-5">
	<h2 class="card-header"><a href="{{ .Permalink }}" class="card-link">{{ .Title }}</a></h2>
	<div class="card-body">
		<div class="card-text">
		{{ $page := .Page }}
		{{ range first 1 (.Resources.ByType "image") }}
				{{ $image := dict "Image" . "ImagePosition" "right" "ImageSize" ($.Scratch.Get "ImageSize") "ResizeFill" true "IsThumbnail" true }}
				{{ partial "imagetag.html"
					(dict
						"image" .
						"thumbnail" true
						"size" ($.Scratch.Get "ImageSize")
						"resize" "fill"
						"position" "right"
						"link" $page.Permalink
						"page" $page
					)
				}}
						{{ end }}
			{{ .Summary }}
			{{ if .Truncated }}
				[{{ i18n "readMore" }}]
			{{ end }}
		</div>
	</div>
	<div class="card-footer text-muted">
		{{ partial "post/meta.html" . }}
	</div>
</div>
