<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "settings.html" . }}
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ partial "nav.html" . }}

    <div class="container mt-4">
      {{ block "content" . }}
        <div class="row">
          <div class="col-lg-9">
            {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
            {{ block "breadcrumb" . }}{{ partial "breadcrumb.html" . }}{{ end }}
            {{ block "headerimage" . }}{{ partial "headerimage.html" . }}{{ end }}
            {{ block "description" . }}{{ partial "description.html" . }}{{ end }}
            {{ block "main" . }}{{ end }}
            {{ block "gallery" . }}{{ partial "gallery.html" . }}{{ end }}
						{{ block "pagination" . }}{{ partial "pagination" . }}{{ end }}
          </div>
          <div class="col-lg-3 d-print-none">
            {{ block "default/sidebar" . }}{{ partial "default/sidebar.html" . }}{{ end }}
          </div>
        </div>
      {{ end }} <!-- content -->
      {{ block "additional_content" . }}{{ end }}
    </div>

    {{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}
    {{ partial "scripts.html" . }}
  </body>
</html>
