{{ define "main" }}

	{{ with .Content }}
		{{.}}
	{{ end }}

	{{ partial "search-form.html" (dict "ID" "searchpage" "Action" ($.Site.GetPage ($.Scratch.Get "BootswatchSearchIndexFile")).Permalink) }}

	<div class="alert alert-primary mt-4" id="search-results-info">
		{{ i18n "searchResultsExecute" }}
	</div>

	<div class="list-group mt-4" id="search-results"></div>

	<template id="search-result-item" hidden="hidden">
		<a class="list-group-item list-group-item-action flex-column align-items-start result-item-content">
			<div class="d-flex w-100 justify-content-between">
				<h5 class="result-item-title mb-1"></h5>
			</div>
			<p class="result-item-summary mb-1"></p>
		</a>
	</template>

	<script>
		const thbSearchAutostarQuery = {{ $.Scratch.Get "BootswatchSearchAutostarQuery" }};
		const thbSearchIndex = {{ $.Scratch.Get "BootswatchSearchIndexFile" | absURL }};
		const thbSearchResultsMatchesSingular = {{ i18n "searchResultsMatchesSingular" }};
		const thbSearchResultsMatchesPlural = {{ i18n "searchResultsMatchesPlural" }};
		const thbSearchResultsError = {{ i18n "searchResultsError" }};
		const tbhSearchResultsEmptyQuery = {{ i18n "searchResultsEmptyQuery" }};
	</script>

	{{- $.Scratch.Set "BootswatchDefaultJS" (
		(
			$.Scratch.Get "BootswatchDefaultJS" ) | append
				"lunr.min.js"
				"hugo-bootswatch_search.js"
		)
	}}

{{ end }}
