{{ define "main" }}

  {{ with .Content }}
    {{.}}
  {{ end }}

  {{ with .Data.Terms.Alphabetical }}
    <ul class="nav flex-column" aria-label="{{ ($.Site.GetPage "categories").Title }}">
      {{ range . }}
        <li class="nav-item"><a class="nav-link" href="{{ .Page.Permalink }}">{{ .Page.Title }} <span class="badge bg-primary">{{ .Count }}</span></a></li>
      {{ end }}
    </ul>
  {{ end }}

{{ end }}
