{{ if and (not .IsHome) ($.Scratch.Get "BootswatchShowBreadcrumb") }}
  <ol class="breadcrumb">
		{{ $currentPermaLink := .RelPermalink }}
    {{- $.Scratch.Set "breadURL" "" -}} <!-- is filled from left to right with "Add" statements -->

    {{- range (split .RelPermalink "/") -}}

      {{- if (gt (len .) 0) -}}

				{{- $.Scratch.Add "breadURL" (print "/" . ) -}}
				{{- $.Scratch.Set "breadTitle" (humanize .) -}}
				{{- $.Scratch.Set "breadIsCurrentPage" (eq (print ($.Scratch.Get "breadURL") "/") $currentPermaLink) -}}

        {{- $.Scratch.Set "getPageURL" (print . ".md") -}}
				{{- if $.Site.GetPage ($.Scratch.Get "getPageURL") -}}
          {{- with $.Site.GetPage ($.Scratch.Get "getPageURL") -}}
            {{- if .IsPage -}}
							{{- $.Scratch.Set "breadTitle" (.Title) -}}
							{{- if eq .RelPermalink $currentPermaLink -}}
								{{- $.Scratch.Set "breadIsCurrentPage" true -}}
							{{- end -}}
            {{- end -}}
          {{- end -}}
        {{- end -}}

				{{- if $.Scratch.Get "breadIsCurrentPage" -}}
					<li class="breadcrumb-item active">{{ $.Scratch.Get "breadTitle" }}</li>
				{{- else -}}
					<li class="breadcrumb-item"><a href="{{ $.Scratch.Get "breadURL" }}">{{ $.Scratch.Get "breadTitle" }}</a></li>
				{{- end -}}

      {{- end -}}

    {{- end -}}
  </ol>
{{ end }}
