<footer id="footer">
	<div class="container">

		<div class="row">

			<div class="col-lg-9 border-top border-bottom pt-3 pb-3 text-center">
				{{ range $.Scratch.Get "SocialIcons" }}
					{{- $.Scratch.Set "social-link" .value }}
					{{- $.Scratch.Set "fa-set" "solid" }}

					{{- if eq .type "email" }}
						{{- $.Scratch.Set "social-link" (printf "mailto:%s" .value) }}
					{{- end }}
					{{- if eq .type "github" }}
						{{- $.Scratch.Set "social-link" (printf "https://github.com/%s" .value) }}
					{{- end }}
					{{- if eq .type "gitlab" }}
						{{- $.Scratch.Set "social-link" (printf "https://gitlab.com/%s" .value) }}
					{{- end }}
					{{- if eq .type "mastodon" }}
						{{- $.Scratch.Set "social-link" (printf "https://%s/@%s" (index (split .value "@") 2) (index (split .value "@") 1)) }}
					{{- end }}
					{{- if eq .type "docker" }}
						{{- $.Scratch.Set "social-link" (printf "https://hub.docker.com/u/%s" .value) }}
					{{- end }}
					{{- if eq .type "youtube" }}
						{{- $.Scratch.Set "social-link" (printf "https://www.youtube.com/user/%s" .value) }}
					{{- end }}
					{{- if eq .type "xing" }}
						{{- $.Scratch.Set "social-link" (printf "https://www.xing.com/profile/%s" .value) }}
					{{- end }}

					{{- if in "github gitlab mastodon docker youtube xing" .type }}
						{{- $.Scratch.Set "fa-set" "brands" }}
					{{- end }}

					{{- $.Scratch.Set "social-title" .value }}
					{{- if .title }}
						{{- $.Scratch.Set "social-title" .title }}
					{{- end }}

					<a href="{{ $.Scratch.Get "social-link" }}" title="{{ ($.Scratch.Get "social-title") | i18n .type }}" {{ if ($.Scratch.Get "SocialNewWindow") }}target="_blank"{{ end }}><span class="fa-stack fa-1x">
						<i class="fa-{{ $.Scratch.Get "SocialIconType" }} fa-{{ $.Scratch.Get "SocialIconBackground" }} fa-stack-2x"></i>
						<i class="fa-{{ $.Scratch.Get "fa-set" }} fa-{{ if .icon }}{{ .icon }}{{ else }}{{ .type }}{{ end }} {{ if eq ($.Scratch.Get "SocialIconType") "solid" }}fa-inverse {{ end }} fa-stack-1x"></i>
					</span></a>
				{{ end }}
			</div>

			<div class="col-lg-9 pt-3">

			{{ if eq .Type "posts" }}
				{{ partial "post/footer.html" . }}
			{{ else }}
				{{ partial "default/footer.html" . }}
			{{ end }}

			</div>

			<div class="col-lg-9 pt-3">

					<a href="{{ printf "/%s.xml" ($.Scratch.Get "BootswatchRSSFeed") }}" title="{{ $.Site.Title | i18n "rssFeed" }}" rel="alternate" type="application/rss+xml"><i class='fa-solid fa-rss'></i></a>
				{{ $.Scratch.Get "BootswatchMetaSeparator" }}
				<i class='fa-regular fa-hand-rock'></i>
				<i class='fa-regular fa-hand-paper'></i>
				<i class='fa-regular fa-hand-scissors'></i>
				<i class='fa-regular fa-hand-lizard'></i>
				<i class='fa-regular fa-hand-spock'></i>
				{{ $.Scratch.Get "BootswatchMetaSeparator" }}
				{{ with .Site.GetPage (printf "/%s" ($.Scratch.Get "BootswatchLegal")) }}
					<a href="{{ .Permalink }}" title="{{ .Title }}"><i class='fa-solid fa-scale-balanced'></i> {{ .Title }}</a>
				{{ end }}
			</div>

			{{- partial "footer_custom.html" . }}

		</div>

	</div>
</footer>
