<!--
If you want to include any custom html just before </body>, put it in /layouts/partials/footer_custom.html
Do not put anything in this file - it's only here so that hugo won't throw an error if /layouts/partials/footer_custom.html doesn't exist.
-->

<!-- debugging -->
{{ if $.Scratch.Get "BootswatchDebug" }}
	<div class="row pt-4">
		<div class="col-lg-9">
			<div class="alert alert-info">
			  <h4 class="alert-heading">Debug</h4>
				<ul>
					<li>Title: {{ .Title }}</li>
					<li>Kind: {{ .Kind }}</li>
					<li>Type: {{ .Type }}</li>
					<li>Keywords: {{ .Keywords }}</li>
					<li>tags: {{ .Params.tags }}</li>
					<li>categories: {{ .Params.categories }}</li>
					<li>now: {{ now }}</li>
					<li>Date: {{ .Date }}</li>
					<li>Lastmod: {{ .Lastmod }}</li>
					<li>PublishDate: {{ .PublishDate }}</li>
					<li>ExpiryDate: {{ .ExpiryDate }}</li>
					<li>CurrentSection: {{ .CurrentSection }}</li>
					<li>Prev: {{ .Prev }}</li>
					<li>PrevInSection: {{ .PrevInSection }}</li>
					<li>NextInSection: {{ .NextInSection }}</li>
					<li>Next: {{ .Next }}</li>
<!--					<li>.Site.Pages: <ul>{{ range .Site.Pages }}<li>{{ .Title }}</li>{{ end }}</ul></li>-->
<!--					<li>.Site.Sections: <ul>{{ range .Site.Sections }}<li>{{ .Title }}</li>{{ end }}</ul></li>-->
					<li>.OutputFormats: {{ .OutputFormats }}</li>
				</ul>
			</div>
		</div>
	</div>
{{ end }}
