<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<meta name="description" content="{{ $.Scratch.Get "Summary" }}" />

{{- with .Site.Author.name }}
  <meta name="author" content="{{ . }}" />
{{- end }}

{{- with ($.Scratch.Get "Title") }}
  <title>{{ . }}{{ if eq $.IsHome false }} | {{ $.Site.Title }}{{ end }}</title>
{{- end }}

{{- partial "seo/seo.html" . }}

{{- with .Site.Params.favicon }}
  <link href='{{ . | absURL }}' rel='icon' type='image/x-icon' />
{{- end -}}

<!-- Hugo Version number -->
{{ hugo.Generator -}}

<!-- Links and stylesheets -->
{{ range .AlternativeOutputFormats -}}
	<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}" />
{{ end -}}

{{ range $.Scratch.Get "BootswatchDefaultCSS" }}
  <link rel="stylesheet" type="text/css" href="{{ . | printf "css/%s" | absURL }}" />
{{ end }}

{{- partial "head_custom.html" . }}
