{{ $currentPage := . }}

<!-- sections -->
{{ $allSections := where (where .Site.Sections "Type" "ne" ($.Scratch.Get "BootswatchStaticPages")) "Params.hide_in_menu" "ne" true }}
{{ range $allSections }}
	{{ $isActive := eq $currentPage.RelPermalink .RelPermalink }}
	{{ $hasChildren := ne (len .Pages) 0 }}
	{{ if $hasChildren }}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" title="{{ .Title }}" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ .Title }}</a>
			<div class="dropdown-menu">
				<a class="dropdown-item{{ if $isActive }} active{{ end }}" title="{{ .Title }}" href="{{ .RelPermalink }}">{{ .Title }}</a>
				<div class="dropdown-divider"></div>
				{{ if eq ($.Scratch.Get "BootswatchMenuMaxSubmenuCount") 0 }}
					{{ $.Scratch.Set "allChildren" .Pages }}
				{{ else }}
					{{ $.Scratch.Set "allChildren" (first ($.Scratch.Get "BootswatchMenuMaxSubmenuCount") .Pages) }}
				{{ end }}
				{{ range $.Scratch.Get "allChildren" }}
					{{ $isActive := eq $currentPage.RelPermalink .RelPermalink }}
					<a class="dropdown-item{{ if $isActive }} active{{ end }}" title="{{ .Title }}" href="{{ .RelPermalink }}">{{ .Title }}</a>
				{{ end }}
				{{ if gt (len .Pages) (len ($.Scratch.Get "allChildren")) }}
				<div class="dropdown-divider"></div>
					<a class="dropdown-item" title="{{ .Title }}" href="{{ .RelPermalink }}">&hellip;</a>
				{{ end }}
			</div>
		</li>
	{{ else }}
		<li class="nav-item">
			<a class="nav-link{{ if $isActive }} active{{ end }}" title="{{ .Title }}" href="{{ .RelPermalink }}">{{ .Title }}</a>
		</li>
	{{ end }}
{{ end }}


<!-- "normal" pages -->
{{ $normalPages := where (where (where .Site.Pages "Type" ($.Scratch.Get "BootswatchStaticPages")) "Kind" "page") "Params.hide_in_menu" "ne" true }}
{{ range $normalPages }}
	{{ $isActive := eq $currentPage.RelPermalink .RelPermalink }}
	<li class="nav-item">
		<a class="nav-link{{ if $isActive }} active{{ end }}" title="{{ .Title }}" href="{{ .RelPermalink }}">{{ .Title }}</a>
	</li>
{{ end }}
