<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <div class="container-fluid">

    <a class="navbar-brand" href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="{{ i18n "toggleNavigation" }}">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
				{{ partial "menu.html" . }}
				{{ if .Site.IsMultiLingual }}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ i18n "languageSwitcherLabel" }}</a>
						<div class="dropdown-menu" aria-labelledby="language_selector">
							{{ range .Site.Languages }}
								{{ if not (eq .Lang $.Site.Language.Lang) }}
									<li class="nav-item">
										<a class="nav-link" title="{{ default .Lang .LanguageName }}" href="/{{ .Lang }}" lang="{{ .Lang }}">{{ default .Lang .LanguageName }}</a>
									</li>
								{{ end }}
							{{ end }}
						</div>
					</li>
				{{ end }}
			</ul>
			{{ if $.Scratch.Get "BootswatchShowSearch" }}
				{{ partial "search-form.html" (dict "ID" "nav" "Action" ($.Site.GetPage ($.Scratch.Get "BootswatchSearchPage")).Permalink) }}
			{{ end }}
		</div>
  </div>
</nav>
