<div>
	<ul class="pagination justify-content-center">

		{{ if eq .Kind "page" }}

			{{ if and (ne .Type "page") (ne .Type "staticpages") }}

				{{- $enabled := .PrevInSection }}
				<li class="page-item {{ if not $enabled }}disabled{{ end }} me-2">
					<a class="page-link" href="{{ if $enabled }}{{ .PrevInSection.Permalink }}{{ else }}#{{ end }}" aria-label="Previous">{{ i18n "previousPost" | safeHTML }}{{ if $enabled }} {{ .PrevInSection.Title }}{{ end }}</a>
				</li>

				{{- $enabled := .NextInSection }}
				<li class="page-item {{ if not $enabled }}disabled{{ end }}">
					<a class="page-link" href="{{ if $enabled }}{{ .NextInSection.Permalink }}{{ else }}#{{ end }}" aria-label="Next">{{ if $enabled }}{{ .NextInSection.Title }} {{ end }}{{ i18n "nextPost" | safeHTML }}</a>
				</li>

			{{ end }}

		{{ else }}

			{{- with .Paginator }}

				{{- $currentPageNumber := .PageNumber }}

				{{- $slots := ($.Scratch.Get "BootswatchPaginationMaxSlotCount") }}
				{{- $start := math.Max 1 (sub .PageNumber (math.Floor (div $slots 2))) }}
				{{- $end := math.Min .TotalPages (sub (add $start $slots) 1) }}
				{{- if lt (add (sub $end $start) 1) $slots }}
					{{- $start = math.Max 1 (add (sub $end $slots) 1) }}
				{{- end }}
				{{- $startspace := ne (int $start) 1 }}
				{{- $endspace := ne (int $end) .TotalPages }}

				{{- with .First }}
					{{- $active := eq .PageNumber $currentPageNumber }}
					<li class="page-item {{ if $active }}disabled{{ end }}">
					<a class="page-link" {{ if not $active }}href="{{ .URL }}"{{ end }} aria-label="First">{{ i18n "firstPage" | safeHTML }}</a>
					</li>
				{{- end }}

				{{- $enabled := .HasPrev }}
				<li class="page-item {{ if not $enabled }}disabled{{ end }} {{ if $startspace }}me-2{{ end }}">
					<a class="page-link" href="{{ if $enabled }}{{ .Prev.URL }}{{ else }}#{{ end }}" aria-label="Previous">{{ i18n "previousPage" | safeHTML }}</a>
				</li>

				{{- range $k := seq $start $end }}
					{{- $active := eq $.Paginator.PageNumber $k }}
					<li class="page-item {{ if $active }}active{{ end }}">
						<a {{ if $active }}aria-current="page"{{ else }}href="{{ (index $.Paginator.Pagers (sub $k 1)).URL }}"{{ end }} aria-label="Page {{ $k }}" class="page-link">{{ $k }}</a>
					</li>
				{{- end }}

				{{- $enabled := .HasNext }}
				<li class="page-item {{ if not $enabled }}disabled{{ end }} {{ if $endspace }}ms-2{{ end }}">
					<a class="page-link" href="{{ if $enabled }}{{ .Next.URL }}{{ else }}#{{ end }}" aria-label="Next">{{ i18n "nextPage" | safeHTML }}</a>
				</li>

				{{- with .Last }}
					{{- $active := eq .PageNumber $currentPageNumber }}
					<li class="page-item {{ if $active }}disabled{{ end }}">
						<a class="page-link" {{ if not $active }}href="{{ .URL }}"{{ end }} aria-label="Last">{{ i18n "lastPage" | safeHTML }}</a>
					</li>
				{{- end }}

			{{ end }}


		{{ end }}

	</ul>
</div>
