<form id="search-{{ .ID }}"
	class="d-flex"
	role="search"
	action='{{ .Action }}'
	method="get">

		<label
			hidden
			for="search-input-{{ .ID }}"
		>{{ i18n "searchLabel" }}</label>

		<input
			class="form-control me-sm-2"
			type="search"
			id="search-input-{{ .ID }}"
			name="query"
			placeholder="{{ i18n "searchPlaceholder" }}"
		>
		<button
			class="btn btn-secondary my-2 my-sm-0"
			type="submit"
		>{{ i18n "searchButtonLabel" }}</button>

</form>
